.header_container{
    display: flex;
    justify-content: space-between;
    background-color: turquoise;
    border: 2px solid black;
    border-bottom: 0px;
    padding-left: 7%;
    padding-right: 7%;
    
}
.header_container_links_container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header_container_links_container > a{
    text-decoration: none;
    color: black;
}

.title_container{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    border: 2px solid black;
    padding: 50px;
    justify-content:  center;
}
.title_container_left{
    max-width: 667px;
}

.information_container{
    display: flex;
    background-color: turquoise;
    border-left: 2px solid black; 
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
    gap: 100px;
    padding-bottom: 40px;
}
.info_images{
    width: 120px; 
    height: 120px;
    border-radius: 10px;
    border: 2px solid black;
}
.info_text{
    width: 120px;
    text-align: center;
}
.info_text > a{
    text-decoration: none;
    color: black;
}

.quote_container{
    background-color: #968E85;
    border: 2px solid black;
    border-top: 0px solid black;;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    max-width: 1000px;
    position: relative;
    
}
.quote_author{
    padding-top: 15px;
    font-weight: bold;    
    text-align: end;
}